.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(forest-field-trees-nature-mother-nature-sunset-1520109-wallhere.com.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(forest-field-trees-nature-mother-nature-sunset-1520109-wallhere.com.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(forest-field-trees-nature-mother-nature-sunset-1520109-wallhere.com.jpg);
} 
