.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(rainfall-drops-black-background_1017-33594.avif);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(rainfall-drops-black-background_1017-33594.avif);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(rainfall-drops-black-background_1017-33594.avif);
} 
